/***----------------
body and wrapper
----------------***/
body {
  margin: 0;
  font-family: Lato;
  background-color: #FFFCB0;
  transition: 1s linear; }

#app {
  position: fixed;
  width: 100%;
  height: 100%; }

nav {
  text-align: center; }

@media (max-height: 700px) {
  nav {
    display: none; } }

/***----------------
main grid
----------------***/
.seed-icon {
  margin: 2em auto;
  width: 3em;
  position: absolute;
  left: 0;
  right: 0; }

#grid-container {
  width: 500px;
  margin: 50px auto; }

.item {
  width: 30px;
  height: 30px;
  margin: auto; }

.col-2.mouseDown:hover {
  cursor: grabbing; }

/***----------------
seed backgrounds
----------------***/
.seed {
  background: url(../img/seed-dark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%; }

.seedling {
  background-color: #78C143;
  border-radius: 15px;
  transition: transform 0.3s ease; }

.water {
  background-color: #26AAE1;
  border-radius: 15px; }

.sunshine {
  background-color: #F26521;
  border-radius: 15px; }

.small {
  transform: scale(0.5); }

/***----------------
grid system
----------------***/
.row {
  width: 100%; }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  transition: 0.3s ease; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.col-1 {
  width: 6.25%;
  min-height: 55px; }

.col-2 {
  width: 12.5%;
  min-height: 55px; }

.col-3 {
  width: 18.75%;
  min-height: 55px; }

.col-4 {
  width: 25%;
  min-height: 55px; }

.col-5 {
  width: 31.25%;
  min-height: 55px; }

.col-6 {
  width: 37.5%;
  min-height: 55px; }

.col-7 {
  width: 43.75%;
  min-height: 55px; }

.col-8 {
  width: 50%;
  min-height: 55px; }

.col-9 {
  width: 56.25%;
  min-height: 55px; }

.col-10 {
  width: 62.5%;
  min-height: 55px; }

.col-11 {
  width: 68.75%;
  min-height: 55px; }

.col-12 {
  width: 75%;
  min-height: 55px; }

.col-13 {
  width: 81.25%;
  min-height: 55px; }

.col-14 {
  width: 87.5%;
  min-height: 55px; }

.col-15 {
  width: 93.75%;
  min-height: 55px; }

.col-16 {
  width: 100%;
  min-height: 55px; }

.mouseDown {
  cursor: -webkit-grabbing; }
