/***----------------
body and wrapper
----------------***/
@import 'variables';
@import 'mixins';

body {
   margin: 0;
   font-family: Lato;
   background-color: #FFFCB0;
   transition: 1s linear;
}
#app {
   position: fixed;
   width: 100%;
   height: 100%;
}
nav {
   text-align: center;
}

@media (max-height: 700px) {
   nav {
      display: none;
   }
}

/***----------------
main grid
----------------***/
.seed-icon {
   margin: 2em auto;
   width: 3em;
   position: absolute;
   left: 0;
   right: 0;
}

#grid-container {
   width: 500px;
   margin: 50px auto;
}

.item {
   width: $item-size;
   height: $item-size;
   margin: auto;
}

.col-2.mouseDown:hover {
	cursor: grabbing;
}

/***----------------
seed backgrounds
----------------***/
.seed {
   background: url(../img/seed-dark.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position-x: 50%;
}

.seedling {
   background-color: #78C143;
   border-radius: $item-size / 2;
   transition: transform 0.3s ease;
}

.water {
   background-color: #26AAE1;
   border-radius: $item-size / 2;

}

.sunshine {
   background-color: #F26521;
   border-radius: $item-size / 2;

}

.small {
   transform: scale(0.5);
}

/***----------------
grid system
----------------***/
.row {
   width: 100%;
}
.row:after {
   content: "";
   display: table;
   clear: both;
}

[class*='col-'] {
   float: left;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   padding: 10px;
   transition: 0.3s ease;
   // border: 1px blue solid;
}

[class*='col-']:last-of-type {
   padding-right: 0;
}
@for $i from 1 through $columns {
   .col-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
      min-height: 55px;
   }
}

.mouseDown {
	cursor: -webkit-grabbing;
}
