.level-container {
  width: $world-width;
  margin: 0 auto;
}

.level {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $level-width;
  margin: 0 auto 2em;

  $half-world-width: ($world-width / 2 - $level-width) / 2;

  &.offset-x-1 {
    margin-right: $half-world-width;
  }

  &.offset-x-2 {
    margin-right: $half-world-width - 1;
  }

  &.offset-x--1 {
    margin-left: $half-world-width;
  }

  &.offset-x--2 {
    margin-left: $half-world-width - 1;
  }

  $level-top-offset: $level-width / 2;

  &.offset-y-1 {
    margin-top: $level-top-offset;
  }

  &.offset-y-2 {
    margin-top: $level-top-offset * 2;
  }

  &.offset-y--1 {
    margin-top: -$level-top-offset;
  }

  &.offset-y--2 {
    margin-top: -$level-top-offset * 2;
  }
}

.trail {
  position: absolute;
}

.level-avatar {
  width: 2.3em;
}

.level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0 0;

  &.active {
    background-color: $light-brown;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
  }

  p {
    font-size: 0.8em;
    color: $text-yellow-light;
    margin: 0;
  }

  &.world-2 {
    &.active {
      background-color: $dusty-red;
    }

    p {
      color: $text-yellow-light;
    }
  }
}

.pointer {
  top: -2em;
  width: 1em;
  margin: -1.5em 0 0.5em 0;
  animation: hover 1.5s ease-in-out infinite;
}
