{
  "presets": ["react", "es2015", "stage-1"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "react": "inferno-compat",
        "react-dom": "inferno-compat"
      }
    }]
  ]
}
