.seed,
.seedPod {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.seedPod.sunflower {
  background: $twin-seed-pod-background;
}

.seed.sunflower {
  background-image: url(../../public/img/seeds/sunflower/sunflower.svg);
}

.seedPod.foxglove {
  background: $circle-seed-pod-background;
}

.seed.foxglove {
  background-image: url(../../public/img/seeds/foxglove/foxglove.svg);
}


@media (min-width: $width-m) and (min-height: $height-m) {
  .seedPod.sunflower {
    padding: 13px;
  }

  .seedPod.foxglove {
    padding: 12px;
  }
}
