.rain-falling {
  background: $rain-background;
}

.rain-maker {
  background-color: $rain-background;
  @include weather;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sun-maker {
  background-color: $sun-background;
  @include weather;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sun-shining {
  background: $sun-background;
}

@for $i from 0 through 13 {
  .power-#{$i} {
    transform: scale($i * 0.05);
  }
}

.max-rain {
  animation: rain-pulse 1s infinite linear;
}

.max-sun {
  animation: sun-pulse 1s infinite linear;
}

.rain-curtain {
  transition: 1.5s ease;
  position: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
}

.rain-drop {
  width: 2px;
  height: 20px;
  background-color: $rain-blue;
  margin: 0 1em;
  will-change: translateY, opacity;
}

@for $i from 1 through 16 {
  .rain-drop:nth-child(#{$i}) {
    animation: fall 0.4s linear infinite;
    animation-delay: $i * 0.25s;
  }
}

.sun-sphere-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.sun-sphere {
  transition: 1.5s ease;
  transition-delay: 0.5s;
  transform: translateY(-600px);
  opacity: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: $sun-hover;

  &.active {
    transform: translateY(-300px);
    opacity: 1;
  }
}

@keyframes rain-pulse {
  0% { background-color: $rain-background; }
  50% { background-color: rgb(71, 139, 255); }
  100% { background-color: $rain-background; }
}

@keyframes sun-pulse {
  0% { background-color: $sun-background; }
  50% { background-color: rgb(249, 93, 52); }
  100% { background-color: $sun-background; }
}

@media (min-height: $height-m), (min-width: $width-m) {
  .rain-curtain {
    width: 100%;
  }
}
