.loading-screen {
  height: 100vh;
  width: 100%;
  position: fixed;
  transition: 0.5s ease;
  z-index: 100;
}

.loading-icon {
  text-align: center;
  margin-top: 30vh;

  svg {
    max-width: 50px;
  }
}
