.tile-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $grid-small;
  height: $grid-small;
}

.tile {
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box;
  opacity: 1;
  @include no-select;
}

.sun {
  padding: 6px;
  background-color: $orange;
  transform: scale(1);
  opacity: 1;
}

.rain {
  padding: 6px;
  background-color: $blue;
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.seedling {
  padding: 10px;
  background: $seedling-background;
}

.pod {
  padding: 14px;
  transform: scale(1);
  opacity: 1;
}

.rain.dragging,
.sun.dragging,
.seedling.dragging,
.pod.dragging {
  transition: transform 0.3s ease;
  transform: translate(0, 0) scale(0.5);
}

// animations
.entering {
  animation: bounceInDown 0.6s ease;
}

@for $i from 0 through 7 {
  @for $j from 0 through 7 {
    .y-#{$i}.x-#{$j} {

      .rain.leaving {
        $x: $grid-small * (-$i) + 20px;
        $y: $grid-small * (-$j * 0.95) - 114px;
        transform: translate($x, $y) scale(1);
        opacity: 0.2;
        transition: 1s ease;
      }

      .sun.leaving {
        $i2: 7 - $i;

        $x: $grid-small * ($i2) - 20px;
        $y: $grid-small * (-$j * 0.95) - 114px;
        transform: translate($x, $y) scale(1);
        opacity: 0.2;
        transition: 1s ease;
      }

      .pod.leaving {
        $i3: -4 + $i;

        $x: $grid-small * (-$i3) - ($grid-small / 2);
        $y: $grid-small * (-$j) - 114px;
        transform: translate($x, $y) scale(1);
        opacity: 0.2;
        transition: 0.8s ease-in-out;
      }
    }
  }
}

@for $i from 1 through 12 {
  .tile.leaving.delay-#{$i} {
    transition-delay: $i * 0.04s - 0.03s!important;
  }

  .pod.growing.delay-#{$i} {
    animation-delay: $i * 0.04s - 0.03s!important;
  }

  .seedling.growing.delay-#{$i} {
    animation-delay: $i * 0.04s - 0.03s!important;
    transition-delay: $i * 0.04s - 0.03s!important;
  }
}

.pod.growing {
  transform: scale(0);
  animation: elasticBounceIn 0.5s ease;
  animation-fill-mode: both;
}

.seedling.growing {
  animation: popOut 0.7s ease;
  animation-fill-mode: both;
}

.seedling.growing.transition {
  animation: none;
  transform: scale(4);
  opacity: 0;
  transition: 0.7s ease-out;
}

@media (min-width: $width-m) and (min-height: $height-m) {
  .tile-container {
    width: $grid-medium;
    height: $grid-medium;
  }

  .sun, .rain {
    padding: 9px;
  }

  .seedling {
    padding: 13px;
  }

  .pod {
    padding: 19px;
  }

  @for $i from 0 through 7 {
    @for $j from 0 through 7 {
      .y-#{$i}.x-#{$j} {

        .rain.leaving {
          $x: $grid-medium * (-$i);
          $y: $grid-medium * (-$j) - 122px;
          transition: 0.7s ease-in-out;
          transform: translate($x, $y) scale(0.3);
        }

        .sun.leaving {
          $i2: 7 - $i;

          $x: $grid-medium * $i2;
          $y: $grid-medium * (-$j) - 122px;
          transition: 0.7s ease-in-out;
          transform: translate($x, $y) scale(0.3);
        }

        .pod.leaving {
          $i3: -4 + $i;

          $x: $grid-medium * (-$i3) - ($grid-medium / 2);
          $y: $grid-medium * (-$j) - 122px;
          transition: 0.7s ease-in-out;
          transform: translate($x, $y) scale(0.3);
        }
      }
    }
  }
}
