$grid-size: 57px;
$grid-offset: 4;

.board {
  margin: 12vh auto;
  position: absolute;
  height: $grid-size * 7;
  width: ($grid-size + $grid-offset) * 7;
  left: 0;
  right: 0;
}


@for $i from 0 through 7 {
  .x-#{$i} {
    top: ($grid-size - $grid-offset) * $i;
  }
  .y-#{$i} {
    left: $grid-size * $i;
  }
}

@for $i from 0 through 7 {
  @media (max-height: 650px) {
    .x-#{$i} {
      top: ($grid-size / 1.1 - $grid-offset) * $i;
    }
    .y-#{$i} {
      left: $grid-size / 1.1 * $i;
    }
  }
}
