@import 'animate';

.tile {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  animation: bounceInDown 0.6s ease;
}

.sun {
  transition: background-color 0.3s ease;
  background-color: $orange;
  transform: scale(1);
  opacity: 1;
}

.sun:hover {
  background-color: $sun-background;
}

.rain {
  transition: background-color 0.3s ease;
  background-color: $blue;
  transform: scale(1);
  opacity: 1;
}

.rain:hover {
  background-color: $rain-hover;
}

.seedling {
  background-color: $green;
}

.pod {
  opacity: 1;
}

// animations

@keyframes seedling-exit {
  0% {transform: scale(1); opacity: 1}
  100% {transform: scale(1.5); opacity: 0}
}

.sun.leaving {
  top: -180px;
  left: -250px;
  transition: 0.5s ease;
  opacity: 0;
  transform: scale(3);
}

.rain.leaving {
  top: -180px;
  left: 590px;
  transition: 0.5s ease;
  opacity: 0;
  transform: scale(3);
}

.seedling.leaving {
  animation: seedling-exit 0.5s ease forwards;
}

.pod.leaving {
  transition: 0.5s ease;
  top: -170px;
  left: 198px;
  opacity: 0;
}
