$main-font: Lato, PT Sans, Helvetica Neue, Helvetica, Arial;

// colors

$orange: #F26521;
$blue: #26AAE1;
$green: #78C143;
$brown: #7B4728;

$sun-background: #FFA828;
$rain-background: #61BCFF;

$rain-hover: #26DACC;

$beige: #FFFBB3;
$red: #F22B21;

// heights
