@mixin weather {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 85px;
}

.rain-falling {
  background-color: $rain-background;
}

.rain-maker {
  background-color: $rain-background;
  @include weather;
  right: 150px;
}

.sun-maker {
  background-color: $sun-background;
  @include weather;
  left: 150px;
}

.sun-shining {
  background-color: $sun-background;
}

@keyframes rain-pulse {
  0% { background-color: $rain-background; }
  50% { background-color: rgb(71, 139, 255); }
  100% { background-color: $rain-background; }
}
