@import 'variables';
@import 'seeds';
@import 'board';
@import 'weather';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  background-color: $beige;
  transition: 2s ease;
}

.logo {
  text-align: center;
  max-width: 50px;
  margin: 60px auto 0;
  -webkit-user-select: none;

  img {
    width: 100%;
  }
}
