@import 'variables';
@import 'seeds';
@import 'board';
@import 'weather';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  background-color: $beige;
  transition: 2s ease;
}

.logo {
  text-align: center;
  width: 50px;
  margin: 60px auto 0;
  -webkit-user-select: none;

  img {
    width: 100%;
  }
}

@media (max-height: 650px) {
  .logo {
    width: 40px;
    margin: 40px auto 0;
  }

  .board {
    margin: 9vh auto;
  }
}
