.tutorial-container {
  margin: 27vh auto 0;
  height: 13em;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
}

.tutorial-text-container {
  display: flex;
  left: 0;
  right: 0;
  position: absolute;
  height: 15em;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.5s linear;
}

.full {
  height: 10em;
}

.half {
  height: 7em;
}

.tutorial-text {
  margin: 0.2em;
  text-align: center;
  left: 0;
  right: 0; letter-spacing: 1px;
  transition: 0.5s linear;
  font-size: $f6;
  @include no-select;
}

.next {
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  letter-spacing: 2px;
  font-size: $f4;
  transition: 0.5s linear;
  @include no-select;
}

.tutorial-board-container {
  margin: 4.5em auto;
  z-index: 1;
  opacity: 1;
  transition: 0.5s linear;
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: $width-m) and (min-height: $height-m) {
  .tutorial-text {
    font-size: $f2;
  }
}
