.board-container {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0em 0;
  -webkit-tap-highlight-color: transparent;
}

.top-bar-container {
  width: 16.7em;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
}

.board {
  height: $board-height-small;
  width: $board-width-small;
  margin: 4em auto;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@for $i from 0 through 7 {
  .x-#{$i} {
    top: ($grid-small - $grid-offset-small) * $i;
  }
  .y-#{$i} {
    left: $grid-small * $i;
  }
  .falling-#{$i} {
    transform: translateY(($grid-small - $grid-offset-small) * $i);
    transition: transform 0.3s ease;
  }

  @media (min-height: $height-m) and (min-width: $width-m) {
    .x-#{$i} {
      top: ($grid-medium - $grid-offset-small) * $i;
    }
    .y-#{$i} {
      left: $grid-medium * $i;
    }
    .falling-#{$i} {
      animation: bounceInDown-#{$i} 0.4s ease-in-out;
      animation-fill-mode: both;
    }
  }
}

@media (min-height: $height-m) and (min-width: $width-m) {
  .board {
    height: $board-height-medium;
    width: $board-width-medium;
  }

  .top-bar-container {
    width: 24.5em;
    margin: 60px auto 0;
  }
}

@media (min-height: $height-l) {
  .board-container {
    margin: 5em 0;
  }
}
