$grid-size: 57px;
$grid-offset: 4;

.board-container {
  position: fixed;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
}

.board {
  margin: 12vh auto;
  position: absolute;
  height: $grid-size * 7;
  width: ($grid-size + $grid-offset) * 7;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@for $i from 0 through 7 {
  .x-#{$i} {
    top: ($grid-size - $grid-offset) * $i;
  }
  .y-#{$i} {
    left: $grid-size * $i;
  }
  .falling-#{$i} {
    transform: translateY(($grid-size - $grid-offset) * $i);
    transition: 0.3s ease;
  }
}

@media (max-height: 650px) {
  .board {
    height: 365px;
    width: 410px;
  }

  @for $i from 0 through 7 {
    .x-#{$i} {
      top: ($grid-size / 1.1 - $grid-offset) * $i;
    }
    .y-#{$i} {
      left: $grid-size / 1.1 * $i;
    }
    .falling-#{$i} {
      transform: translateY(($grid-size / 1.1 - $grid-offset) * $i);
      transition: 0.3s ease;
    }
  }
}

@media (max-width: 440px) {
  .board {
    height: 250px;
    width: 335px;
  }

  .tile {
    padding: 12px;
  }

  .pod {
    background-size: 15px 25px;
  }

  @for $i from 0 through 7 {
    .x-#{$i} {
      top: ($grid-size / 1.38 - $grid-offset) * $i;
    }
    .y-#{$i} {
      left: $grid-size / 1.38 * $i;
    }
    .falling-#{$i} {
      transform: translateY(($grid-size / 1.38 - $grid-offset) * $i);
      transition: 0.3s ease;
    }
  }
}
