@keyframes grow-seed {
  0% {
    opacity: 1;
    transform: scale(1);
    background: rgb(120, 193, 67);
    background-position: 50%, 50%;
    background-size: 18px 30px;
    background-repeat: no-repeat;
  }
  50% {
    opacity: 0;
    transform: scale(3);
    background: rgb(120, 193, 67);
    background-position: 50%, 50%;
    background-size: 18px 30px;
    background-repeat: no-repeat;
  }
  51% {
    opacity: 1;
    transform: scale(0.1);
    background: url(/img/seed.svg);
    background-position: 50%, 50%;
    background-size: 18px 30px;
    background-repeat: no-repeat;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    background: url(/img/seed.svg);
    background-position: 50%, 50%;
    background-size: 18px 30px;
    background-repeat: no-repeat;
  }
}
