@keyframes enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.enter {
  animation-name: enter;
  animation-fill-mode: forwards;
}

@keyframes leave {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.leave {
  animation-name: leave;
  animation-fill-mode: forwards;
}

@for $i from 1 through 12 {
  $d: $i / 2;
  .duration-#{$d} {
    animation-duration: $d + 0.001s;
  }
  .delay-#{$d} {
    animation-delay: $d + 0.001s;
  }
}
