@import 'variables';
@import 'mixins';

.info {
  letter-spacing: 2px;
}

.intro {
  display: table;
  width: 100%;
  height: 80vh;
  text-align: center;
}

.seed-container {
  display: table-cell;
  vertical-align: middle;
  // animation: exit 3s ease;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.title {
  font-size: 25px;
  letter-spacing: 4px;
  animation: enter 2s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.begin {
  font-size: 16px;
  margin-top: 65px;
  letter-spacing: 4px;
  animation: enter 2s ease;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-transform: uppercase;
  cursor: pointer;
  @include no-select;
}


.intro-seed {
  max-width: 60px;
  max-height: 120px;
  margin: 0 10px;
  opacity: 0;
}

@keyframes enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes exit {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.one.intro-seed {
  animation: enter 3s ease;
  animation-fill-mode: forwards;
}

.two.intro-seed {
  animation: enter 3s ease;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.three.intro-seed {
  animation: enter 3s ease;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
