.info {
  letter-spacing: 2px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  position: relative;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  @include no-select;
}

.intro-text {
  margin: 0;
  opacity: 0;
  font-size: 1.25em;
  letter-spacing: 1.4px;
}

.same-line {
  height: 4.2em;

  .intro-text {
    margin: 1em 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
}


.title {
  font-size: 25px;
  letter-spacing: 4px;
  opacity: 0;
}

.begin {
  font-size: 16px;
  margin-top: 65px;
  letter-spacing: 4px;
  opacity: 0;
  text-transform: uppercase;
  cursor: pointer;
  @include no-select;
}


.intro-seed {
  max-width: 2.9em;
  max-height: 7em;
  margin: 0 6.5px;
  opacity: 0;
}

$sequence: 'one', 'two', 'three';

@each $class in $sequence {
  $i: index($sequence, $class);

  .forwards.#{$class} {
    opacity: 0;
    animation: enter 3s ease;
    animation-fill-mode: forwards;
    animation-delay: $i / 2 + 0.1s;
  }

  .backwards.#{$class} {
    opacity: 1;
    animation: leave 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 2s - $i / 2;
  }
}

@media (min-width: 550px) {
  .intro-text {
    font-size: 1.4em;
  }

  .intro-seed {
    max-width: 4em;
    max-height: 10em;
  }
}
