@import 'variables';

.loading-screen {
  height: 100vh;
  width: 100%;
  position: fixed;
  animation: loading 3s linear;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 100;
}

.loading-icon {
  text-align: center;
  margin-top: 30vh;

  svg {
    max-width: 50px;
  }
}

@keyframes loading {
  0% { opacity: 0 }
  10% { opacity: 1 }
  80% { opacity: 1 }
  100% { opacity: 0 }
}
