@mixin no-select {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin weather {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.6s ease-in-out;
}
