@import 'variables';

.twin-dark {
  .left {
    fill: $dark-brown;
  }
  .right {
    fill: $light-brown;
  }
}

.twin-light {
  .left {
    fill: $mustard;
  }
  .right {
    fill: $dusty-red;
  }
}

.twin-red {
  .left {
    fill: $red;
  }
  .right {
    fill: $brown;
  }
}
