.tile-container {
  position: absolute;
  width: 50px;
  height: 50px;
}


.tile {
  border-radius: 50px;
  padding: 14px;
  z-index: -1;
  top: 10px;
  left: 10px;
  position: absolute;
  box-sizing: border-box;
  opacity: 1;
  @include no-select;
}

.sun {
  background-color: $orange;
  transform: scale(1);
  opacity: 1;
}

.sun::after {
  // width: 70px;
  // height: 10px;
  // background-color: #F26521;
  // margin: 10px;
  // border: 78px;
  // position: absolute;
  // content: '';
  // transform-origin: 9% 60%;
  // transform: rotateZ(43deg);
}

.rain {
  background-color: $blue;
  transform: scale(1);
  opacity: 1;
}

.seedling {
  background-color: $green;
}

.pod {
  transform: scale(1);
  opacity: 1;
}

.pod.dragging {
  transition: background-size 0.1s ease;
  background-size: 13px 22px;
}

.rain.dragging,
.sun.dragging,
.seedling.dragging {
  transition: 0.3s ease;
  transform: scale(0.5);
}

// animations
.entering {
  animation: bounceInDown 0.6s ease;
}

.sun.leaving {
  transition: 0.5s ease;
  opacity: 0;
  transform: scale(3);
}

.rain.leaving {
  transition: 0.5s ease;
  opacity: 0;
  transform: scale(3);
}

.seedling.leaving {
  transition: 0.5s ease;
  transform: scale(4);
  opacity: 0;
}

.pod.leaving {
  transition: 0.5s ease;
  transform: translate(100px, -100px);
  opacity: 0;
}

@for $i from 1 through 16 {
  .pod.leaving.delay-#{$i} {
    transition: 0.5s ease-in-out;
    transform: translate(100px, -100px);
    opacity: 0;
    transition-delay: $i * 0.08s;
  }
}

.growing {
  animation: grow-seed 1s ease;
  animation-fill-mode: forwards;
  will-change: background-size, background, transform;
}

// seed pods
// .pod {
//   background: url(/img/seed.svg);
//   background-position: 50%, 50%;
//   background-size: 20px 30px;
//   background-repeat: no-repeat;
// }
//
// .circle {
//   background: url(/img/seed-circle.svg);
//   background-position: 50%, 50%;
//   background-size: 18px 30px;
//   background-repeat: no-repeat;
// }

@media (max-width: 440px) {
  .pod.dragging {
    background-size: 9px 14px;
  }
}
