.tile-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $grid-small;
  height: $grid-small;
}

.tile {
  border-radius: 50%;
  z-index: -1;
  box-sizing: border-box;
  opacity: 1;
  @include no-select;
}

.sun {
  padding: 7px;
  background-color: $orange;
  transform: scale(1);
  opacity: 1;
}

.rain {
  padding: 7px;
  background-color: $blue;
  transform: translate(0, 0) scale(1);
  opacity: 1;
}

.seedling {
  padding: 10px;
  background: $seedling-background;
}

.pod {
  padding: 14px;
  transform: scale(1);
  opacity: 1;
}

.rain.dragging,
.sun.dragging,
.seedling.dragging,
.pod.dragging {
  transition: 0.3s ease;
  transform: translate(0, 0) scale(0.5);
}

// animations
.entering {
  animation: bounceInDown 0.6s ease;
}

@for $i from 0 through 7 {
  @for $j from 0 through 7 {
    .y-#{$i}.x-#{$j} {

      .rain.leaving {
        $x: $grid-small * (-$i) + 20px;
        $y: $grid-small * (-$j) - 110px;
        transform: translate($x, $y) scale(0.3);
        transition: 1s ease;
      }

      .sun.leaving {
        $i2: 7 - $i;

        $x: $grid-small * ($i2) - 20px;
        $y: $grid-small * (-$j) - 110px;
        transition: 1s ease;
        transform: translate($x, $y) scale(0.3);
      }
    }
  }
}

.seedling.leaving {
  transition: 0.5s ease;
  transform: scale(4);
  opacity: 0;
}

.pod.leaving {
  transition: 0.5s ease;
  transform: translate(100px, -100px);
  opacity: 0;
}

@for $i from 1 through 16 {
  .pod.leaving.delay-#{$i} {
    transition: 0.5s ease-in-out;
    transform: translate(100px, -100px);
    opacity: 0;
    transition-delay: $i * 0.08s;
  }
}

.pod.growing {
  animation: elasticBounceIn 0.5s ease;
  animation-fill-mode: forwards;
}

.seedling.growing {
  transform: scale(4);
  opacity: 0;
  transition: 0.5s ease-out;
}

@media (min-width: $width-m) and (min-height: $height-m) {
  .tile-container {
    width: $grid-medium;
    height: $grid-medium;
  }

  .sun, .rain {
    padding: 10px;
  }

  .seedling {
    padding: 13px;
  }

  .pod {
    padding: 19px;
  }

  @for $i from 0 through 7 {
    @for $j from 0 through 7 {
      .y-#{$i}.x-#{$j} {

        .rain.leaving {
          $x: $grid-medium * (-$i);
          $y: $grid-medium * (-$j) - 120px;
          transition: 0.7s ease-in-out;
          transform: translate($x, $y) scale(0.2);
        }

        .sun.leaving {
          $i2: 7 - $i;

          $x: $grid-medium * ($i2);
          $y: $grid-medium * (-$j) - 120px;
          transition: 0.7s ease-in-out;
          transform: translate($x, $y) scale(1);
        }
      }
    }
  }
}
