.hidden {
  opacity: 0!important;
  visibility: hidden;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-100 {
  opacity: 1;
}

.w40 {
  width: 40px;
}

.w45 {
  width: 45px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.vh-100 {
  height: 100vh;
}

.disabled {
  pointer-events: none;
}

.justify-center {
  justify-content: center;
}

.abs {
  position: absolute;
}

.minus-4-0-margin {
  margin-top: -4em;
}

.minus-2-0-margin {
  margin-top: -2em;
}

.minus-1-5-margin {
  margin-top: -1.5em;
}

.minus-1-5 {
  top: -1.5em;
}

.plus-6-0 {
  top: 6em;
}

.plus-5-5 {
  top: 5.5em;
}

.plus-4-0 {
  top: 4em;
}

.plus-3-5 {
  top: 3.5em;
}

.plus-2-0 {
  top: 2em;
}

.plus-1-5 {
  top: 1.5em;
}

.plus-0-5 {
  top: 0.5em;
}

.linear {
  transition-timing-function: linear;
}

.transition-500 {
  transition-duration: 0.5s;
}

.transition-800 {
  transition-duration: .8s;
}

.no-animation {
  animation: none;
}

.white {
  color: #fff;
}
