.hidden {
  opacity: 0;
  visibility: hidden;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.disabled {
  pointer-events: none;
}

.justify-center {
  justify-content: center;
}

.abs {
  position: absolute;
}

.minus-1-half-margin {
  margin-top: -1.5em;
}

.minus-1-half {
  top: -1.5em;
}

.plus-1-half {
  top: 1.5em;
}

.linear {
  transition-timing-function: linear;
}

.transition-500 {
  transition-duration: 0.5s;
}

.transition-800 {
  transition-duration: .8s;
}
