.hidden {
  opacity: 0;
  visibility: hidden;
}

.opacity-0 {
  opacity: 0;
}

.disabled {
  pointer-events: none;
}

.justify-center {
  justify-content: center;
}

.abs {
  position: absolute;
}

.ts-linear {
  transition: 0.5s linear;
}
