$main-font: droid Sans, Helvetica Neue, Helvetica, Arial;

// colors

// tile colors
$orange: #F26521;
$blue: #26AAE1;
$green: #78C143;
$brown: #7B4728;

// board backgrounds
$beige: #FFFBB3;
$sun-background: #FFA828;
$rain-background: #61BCFF;

// hover colors
$rain-hover: #26DACC;
$sun-hover: #FFC107;
$seedling-hover: #9DEE62;

// seed colors
$text-yellow: #D6A614;
$red: #F22B21;
$dark-brown: #3A2315;
$light-brown: #A77B52;
$cerise: #D73564;
$lavendar: #AE5C83;
$mustard: #F5993D;
$dusty-red: #EB4C48;
