$main-font: Ek Mukta, Rubik, droid Sans, Helvetica Neue, Helvetica, Arial;

// colors

// tile colors
$orange: #FFA000;
$blue: #26AAE1;
$green: #78C143;
$darker-green: #71af44;
$brown: #7B4728;

// board backgrounds
$beige: #FFFBB3;
$sun-background: #FFA828;
$rain-background: #61BCFF;
$dark-blue: #1e406b;
$rain-blue: #0267b1;
$midnight-blue: #011025;

// gradient backgrounds
$twin-seedling-background: linear-gradient(90deg, $green, $green 50%, $darker-green 51%, $darker-green);
$circle-seedling-background: radial-gradient(ellipse at center, $green 0%, $green 50%, $darker-green 60%, $darker-green 100%);
$midnight-background: linear-gradient(0deg, $dark-blue, $midnight-blue);

// hover colors
$rain-hover: #26DACC;
$sun-hover: #FFC107;
$seedling-hover: #9DEE62;

// seed colors
$red: #F22B21;
$dark-brown: #3A2315;
$light-brown: #A77B52;
$cerise: #D73564;
$lavendar: #AE5C83;
$mustard: #F5993D;
$dusty-red: #EB4C48;

// text colors
$text-yellow: #D6A614;
$text-yellow-light: #FFDB6C;

// world width
$world-width: 17em;
$level-width: 2.5em;

// grid size
$grid-large: 60px;
$grid-medium: $grid-large / 1.1;
$grid-small: $grid-large / 1.45;
$grid-xs: $grid-large / 1.6;

$grid-offset-large: 12;
$grid-offset-medium: 8;
$grid-offset-small: 4;

$board-height-xs: $grid-xs * 8;
$board-width-xs: $grid-xs * 8;

$board-height-small: $grid-small * 8;
$board-width-small: $grid-small * 8;

$board-height-medium: $grid-medium * 8;
$board-width-medium: $grid-medium * 8;

$board-height-large: $grid-large * 8;
$board-width-large: $grid-large * 8;

// breakpoints
$height-m: 670px;
$width-m: 550px;

$height-l: 900px;
$width-l: 1000px;
