.rain-falling {
  background: $rain-background;
}

.rain-maker {
  background-color: $rain-background;
  @include weather;
  cursor: pointer;
  right: 150px;
  -webkit-tap-highlight-color: transparent;
}

.sun-maker {
  background-color: $sun-background;
  @include weather;
  cursor: pointer;
  left: 150px;
  -webkit-tap-highlight-color: transparent;
}

.sun-shining {
  background: $sun-background;
}

@for $i from 0 through 12 {
  .power-#{$i} {
    transform: scale($i * 0.6);
  }
}

.max-rain {
  animation: rain-pulse 1s infinite linear;
}

.max-sun {
  animation: sun-pulse 1s infinite linear;
}

@keyframes rain-pulse {
  0% { background-color: $rain-background; }
  50% { background-color: rgb(71, 139, 255); }
  100% { background-color: $rain-background; }
}

@keyframes sun-pulse {
  0% { background-color: $sun-background; }
  50% { background-color: rgb(249, 93, 52); }
  100% { background-color: $sun-background; }
}

@media (max-width: 440px) {
  .rain-maker {
    right: 55px;
  }
  .sun-maker {
    left: 55px;
  }
}
