@import 'mixins';

.rain-falling {
  background-color: $rain-background;
}

.rain-maker {
  background-color: $rain-background;
  @include weather;
  right: 150px;
}

.sun-maker {
  background-color: $sun-background;
  @include weather;
  left: 150px;
}

.sun-shining {
  background-color: $sun-background;
}

@for $i from 0 through 12 {
  .power-#{$i} {
    transform: scale($i * 0.5);
  }
}

.max-rain {
  animation: rain-pulse 1s infinite linear;
}

.max-sun {
  animation: sun-pulse 1s infinite linear;
}

@keyframes rain-pulse {
  0% { background-color: $rain-background; }
  50% { background-color: rgb(71, 139, 255); }
  100% { background-color: $rain-background; }
}

@keyframes sun-pulse {
  0% { background-color: $sun-background; }
  50% { background-color: rgb(249, 93, 52); }
  100% { background-color: $sun-background; }
}
