@import 'variables';
@import 'mixins';
@import 'animate';
@import 'customAnimations';
@import 'tiles';
@import 'seeds';
@import 'board';
@import 'weather';
@import 'intro';
@import 'loading';

html {
  position: relative;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $beige;
  font-family: $main-font;
  background-color: $beige;
  transition: background-color 2s ease;
  margin: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

audio {
  position: fixed;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
}

p, a {
  color: $text-yellow;
}

.logo {
  text-align: center;
  width: 50px;
  margin: 60px auto 0;
  -webkit-user-select: none;
  opacity: 0;
  animation: fadeIn 0.3s ease-in;
  animation-fill-mode: forwards;

  img {
    width: 100%;
  }
}

.audio-controls {
  position: fixed;
  bottom: 0.5em;
  right: 1.2em;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.menu {
  position: fixed;
  right: 50px;
  top: 20px;
  z-index: 10;
  @include no-select;
}

.menu-item {
  display: inline-block;
  margin-left: 32px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  @include no-select;
}

.score {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  @include no-select;
}

@media (max-height: 650px) {
  .logo {
    width: 40px;
    margin: 40px auto 0;
  }

  .board {
    margin: 9vh auto;
  }
}

@media (max-width: 440px) {
  .board {
    margin: 9vh auto;
  }
  .menu {
    right: 20px;
    top: 10px;
  }
  .menu-item {
    font-size: 10px;
    margin-left: 15px;
    letter-spacing: 2px;
  }
}
