@import 'variables';
@import 'mixins';
@import 'tiles';
@import 'seeds';
@import 'board';
@import 'weather';
@import 'intro';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  background-color: $beige;
  transition: 2s ease;
}

audio {
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
}

p, a {
  color: $text-yellow;
}

.logo {
  text-align: center;
  width: 50px;
  margin: 60px auto 0;
  -webkit-user-select: none;

  img {
    width: 100%;
  }
}

.menu {
  position: absolute;
  right: 50px;
  top: 20px;
}

.menu-item {
  display: inline-block;
  margin-left: 32px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.score {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  @include no-select;
}

@media (max-height: 650px) {
  .logo {
    width: 40px;
    margin: 40px auto 0;
  }

  .board {
    margin: 9vh auto;
  }
}
